* {
  margin: 0px;
}

p {
  margin-bottom: 0;
}

body {
  font-family: sans-serif;
  background-color: #191414;
}

#main-podcast {
  margin-top: 50px;
  overflow: hidden;
}
#menu {
  cursor: pointer;
}
