.grid {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
  margin: 30px 0px;
}

.container {
  height: 100%;
  margin: 0px 10vw;
  color: white;
}

.header {
  margin: 20px 0px;
}

.container hr {
  outline: none;
  border: 1px solid white;
}

.card {
  width: 153px;
  height: 271px;
  background-color: black;
  border-radius: 5px;
  text-align: start;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.852);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card p {
  margin: 10px 10px 0px 10px;
}

.card span {
  color: rgba(255, 255, 255, 0.595);
  font-size: small;
  font-style: italic;
  display: block;
  margin: 0px 10px 10px 10px;
}

.searchResult {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-style: normal;
  font-size: 4rem;
}

.searchResult:hover {
  color: rgba(255, 255, 255, 0.852);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  row-gap: 10px;
}
.form input {
  background-color: rgb(50, 50, 50);
  border: 0;
  color: white;
  border-radius: 95px;
  padding: 0px 1rem;
  -webkit-border-radius: 95px;
  -moz-border-radius: 95px;
  -ms-border-radius: 95px;
  -o-border-radius: 95px;
  font-size: 1.5rem;
}

.form input:focus {
  outline: none;
}

.form textarea {
  resize: none;
  background-color: rgb(50, 50, 50);
  border: 0;
  color: white;
  font-size: 1.5rem;
  font: sans-serif;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0px 1rem;
}

.form textarea:focus {
  outline: none;
}

.button {
  margin-top: 10px;
  height: 3rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(36, 36, 36);
  font-weight: bold;
}

.end {
  margin-bottom: 10px;
}
